*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav {
  height: 90px;
  display: flex;
  padding: 16px 120px;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 55px;
  max-width: 150px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 32px;
  cursor: pointer;
  font-weight: 600;
}

.primary-btn {
  padding: 12px 16px;
  color: white;
  background-color: #2a9958;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  display: inline-flex;
  gap: 5px;
}

.primary-btn:hover {
  background-color: #1b6239;
  cursor: pointer;
}

.banner{
    width: 100%;
    height: 680px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 120px 120px 170px 120px;
    box-sizing: border-box;
}

.first-section {
  color: #2a9958;
  background-color: white;
  padding:8px 12px;
  border-radius: 50px;
  margin-top: 115px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.second-section {
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
  line-height: 1.2;
  color: #000000;
}

.second-section .header1{
color: #FFFFFF;
}
.second-section .header2{
color: #2a9958;
}

.third-section{
  margin-top: 15px;
  line-height: 1.5;
  color: #FFFFFF ;
  margin-bottom: 32px;
  font-size: 16px;
}

.fourth-section{
  display: flex;
  gap: 16px;
  margin-bottom: 150px;
  justify-content: center;
  text-align: center;
}
/* problem here */
.fourth-section .primary-btn img{
  justify-content: center;
  text-align: center;
}

.secondary-btn{
  padding: 12px 16px;
  color: white;
  border-radius: 5px;
  border: solid 1px #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  background: transparent;
  cursor: pointer;
}
.secondary-btn:hover {
  background-color: #353535
}

.solution-section {
  padding: 100px;
}

.solution-box{
  display: flex;
  align-items: center;
  text-align: left;
  gap: 110px;
}

.solution-box .solution-img{
  width: 600px;
  height: 600px;
}

.solution-title{
  font-size: 16px;
  color: #2a9958;
  margin-bottom: 15px;
}

.solution-content h2{
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}

.solution-paragraph{
  font-size: 16px;
  color: gray;
  margin-bottom: 40px;
}

.solution-list{
  list-style: none;
}

.solution-list li{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.early-access-section{
  padding: 120px;
}

.early-access-box{
  background-color: rgb(239, 239, 239);
  border-radius: 10px;
  text-align: center;
  padding: 60px;
}

.early-access-title{
  font-size: 36px;
  font-weight: 700;
  color: #061829;
  margin-bottom: 16px;
}

.early-access-paragraph{
  font-size: 16px;
  color: gray;
  margin-bottom: 24px;
}

.early-access-paragraph-2{
  font-size: 16px;
  color: black;
  margin-bottom: 40px;
  margin-top: 16px;
}

.small{
  font-size: 5px;
  /* justify-content: center;
  text-align: center; */
  vertical-align: middle;
}

.footer {
  background-color: #001931;
  padding: 120px 120px 30px 120px;
  color: #ffffff;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.brand-logo{
  max-width: 150px;
}

.footer-social{
  text-align: right;
  margin-bottom: 80px;
}

.social-title{
  font-size: 20px;
  margin-bottom: 14px;
}

.social-icons{
  display: flex;
  gap: 16px;
  border-radius: 50%;
  font-size: 18px;
}

.social-icons i{
  color: white;
}

.footer-bottom-rights{
  text-align: center;
}

.note-section{
  padding: 100px;
  text-align: center;
}
.note-section h1{
  font-size: 48px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 16px;
  
}
.note-paragraph{
  font-size: 16px;
  color: #627382;
  margin-bottom: 45px;
}
.card-container{
  display: flex;
  gap: 32px;
  justify-content: center;
}

.cards {
  background: #ffffff;
  border-radius: 8px;
  max-width: 320px;
  height: 320px;
  padding: 24px 24px;
  /* border: 0px solid #e0e0e0; */
  box-shadow: 0px 0px 8px #627382;
}

.card-icon{
  width: 60px;
  height: 60px;
  margin: 55px auto 16px auto;
  border-radius: 50%;
  background: #F95555;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container h3{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
}

.card-container p{
  font-size: 16px;
  color: #627382;
  line-height: 1.5;
}